@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    University College Nordjylland<br />
    Sofiendalsvej 60, Aalborg SV<br />
    <abbr title="Telefon">T:</abbr>
    72 69 80 00
</address>

<address>
    <strong><abbr title="numse">mads</abbr></strong>   <a href="mailto:Tinsfeldt88@gmail.com">Tinsfeldt88@gmail.com</a><br />
    <strong>Martin  :   </strong>   <a href="mailto:martizz_XD@hotmail.com">martizz_XD@hotmail.com</a><br />
    <strong>Emil    :   </strong>   <a href="mailto:Emil.kloster.lindberg@gmail.com">Emil.kloster.lindberg@gmail.com</a>
</address>