@{
    ViewBag.Title = "Om os";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<br />
<p> <h4>Vi er gruppe 6!</h4> <br />
    
   <b>Medmelemer:</b> <br />
    Mads Ø Tinsfeldt. <br />
    Emil. <br />
    Martin.
</p>
