
@{
    ViewBag.Title = "BuyError";
}

<h1>Fejl</h1>

<br />

<div>  
    <h3>Hovsa der gik noget galt!</h3> 

    <br />
     
    En eller flere af de vare du forsøgte at købe <br /> 
    er blevet købt for dig og der er ikke flere på lager .
</div>

