
@{
    ViewBag.Title = "Index";
    Layout = "Basket";
}

<h2>Din kurv</h2>

@{
    Basket b = (Basket)Session["basket"];
}
<p>
    CPU = @(b == null ? "" : b.MyCpu.CPUId.ToString())  <br />
    @*RAM = @(b == null ? "" : b.MyRam.Model)*@
</p>

